<p>Dear <%= @passenger_name %></p>

<p>You're booking to <%= @destination %> has been confirmed.</p>

<p>View your booking here:</p>
<%= link_to "My booking", @booking %>

<p>Thank you for choosing BestBookings,</p>
<p>Have a great day!</p>